{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% for post in posts %}
        <div>
            <a href="{{ path('show_post', {id: post.id}) }}">
                {{ post.text }}
            </a>
        </div>
    {% endfor %}

    <form method="post" action="{{ path('create_post') }}" id="item-form">
        <input type="text" id="text" name="text" placeholder="Text" required>
        <button type="submit">Create Item</button>
    </form>
</div>
{% endblock %}
