{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>Post {{ post.id }}</h2>
    <div>
        Text: {{ post.text }}
    </div>

    <form method="post" action="{{ path('update_post', {id: post.id}) }}" id="item-form">
        <input type="text" value="{{ post.text }}" id="text" name="text" placeholder="Text" required>
        <button type="submit">Update</button>
    </form>

    <form method="post" action="{{ path('delete_post', {id: post.id}) }}" id="item-form">
        <button type="submit">Delete</button>
    </form>

    <div>
        <a href="{{ path('homepage') }}">Back</a>
    </div>
</div>
{% endblock %}
